<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> PythonQ&A </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <header>
      <img src="../static/img/logo.png" class="img">
      <div class="txt">
          <span>Задай вопрос на любую тему, связанную с python или помоги своим ответом кому-то другому</span>
      </div>
      <a target="_blank_" href="http://127.0.0.1:5050" class="header-block">
          <span>Задать вопрос</span>
      </a>
      <div class="buttons">
          {% if current_user.is_authenticated %}
          {% set a = "../static/img/users_avatars/image_of_"+  current_user.email  +"_.png"%}
            <img src={{a}} class="img"><a class="buttons_mini" href="/logout">{{ current_user.nickname }}</a>
          {% else %}
              <a href="./login" class="buttons_mini">
                <input class="btn btn-outline-primary btn-lg" type="button" value="Login">
              </a>
              <a href="./reg" class="buttons_mini2">
                <input class="btn btn-outline-info btn-lg" type="button" value="Register">
              </a>
          {% endif %}
      </div>

  </header>
  <div class="block_leaderboard">
        <span class="txt_leaderboard1">Больше всего спрашивал:</span>
        <div class="block_leaderboard1">
            <img src="../static/img/avatar.png" class="img_leaderboard1">
            <span>{{ email }}</span>
        </div>
    </div>
  <div class="block1">
      <div class="text-content">
        <h2>Learn To Enjoy,<br>Every Moment Of Your Life</h2>
        <p class="txt_in_block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facere in nam, officiis aspernatur consectetur aliquid sequi possimus et. Sint.</p>
        <input class="btn btn-outline-primary btn-lg" type="button" value="Ответить">
      </div>
    </div>
  <div class="block_leaderboard">
        <span class="txt_leaderboard1">Больше всего отвечал:</span>
        <div class="block_leaderboard1">
            <img src="../static/img/avatar.png" class="img_leaderboard1">
            <span>User User</span>
        </div>
    </div>
  <div class="block1">
      <div class="text-content">
        <h2>Learn To Enjoy,<br>Every Moment Of Your Life</h2>
        <p class="txt_in_block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facere in nam, officiis aspernatur consectetur aliquid sequi possimus et. Sint.</p>
        <input class="btn btn-outline-primary btn-lg" type="button" value="Ответить">
      </div>
    </div>
  <div class="block">
      <div class="text-content">
        <h2>Learn To Enjoy,<br>Every Moment Of Your Life</h2>
        <p class="txt_in_block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facere in nam, officiis aspernatur consectetur aliquid sequi possimus et. Sint.</p>
        <input class="btn btn-outline-primary btn-lg" type="button" value="Ответить">
      </div>
    </div>
  <div class="block">
      <div class="text-content">
        <h2>Learn To Enjoy,<br>Every Moment Of Your Life</h2>
        <p class="txt_in_block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facere in nam, officiis aspernatur consectetur aliquid sequi possimus et. Sint.</p>
        <input class="btn btn-outline-primary btn-lg" type="button" value="Ответить">
      </div>
    </div>
  <div class="block">
      <div class="text-content">
        <h2>Learn To Enjoy,<br>Every Moment Of Your Life</h2>
        <p class="txt_in_block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facere in nam, officiis aspernatur consectetur aliquid sequi possimus et. Sint.</p>
        <input class="btn btn-outline-primary btn-lg" type="button" value="Ответить">
      </div>
    </div>
</body>
</html>
